:root{
	--primary: rgb(255, 255, 255, 0.618);
	--secondary: rgba(255, 255, 255, 0.618);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
  }

body{
  background-image: url("image 17.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: flex-end;
}
li{
    list-style: none;
}
.header{
    background-color: #6B958E;
    height: 90px;
    width: 100%;
    display: flex;
	  padding: 2% 8%;
	  justify-content: space-between;
	  align-items: center;
	  background-color: #6B958E;
  }
  .header ul li{
  margin-left: 2px;
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 20px;
  margin-top: 0.5%;
  }
  #profil{
    height: 60px;
    width: 60px;
	margin-top: 2.1%;
	margin-left: -2%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    
}
  .nama{
  margin-left: 1%;
	color: black;
	opacity: 60%;
	font-weight: 900;
	text-decoration: none;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
  }
  .menu-list{
    flex: 1;
    text-align: right;
  }
.menu-list ul{
  margin-right: -88px; 
}
.menu-list li{
  list-style: none;
	display: inline-block;
	padding: 1px 5px 1px 1px;
	margin-left: 20px;
	margin-top: 17px;
	position: relative;
  font-weight: 700;
  }
  .menu-list ul li:hover{
    background: rgba(0, 0, 0, 0.61);
	  color: white;
  	font-weight: 700;
  	

  }
  .menu-list li a{
  margin-left: 2px;
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 20px;
    }

  .menu-list li :active{
    color: white;
	  font-weight: 700;
	  font-size: 24;
        }
img{
  border-radius: 50%;
  
}
.photo li{
float: left;
align-items: center;
margin: 2px;
padding: 2px;
font-size: 20px;
font-weight: bold;
}

.container{
  background-color: #FB9F89;
  width:70% ;
  height:85% ;
  border-radius: 20px;
  position: relative;
  align-content: center;
  overflow: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.table-history{
  margin:5px;
  padding:5px;
  width: 70%;
  height: 70%;
  overflow: auto;
  text-align:justify;
  align-items: center;
}
.chat-message{
align-items: center;


}
.form_control{
  width: 500px;
  height: 40px;
  border-radius: 10px;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #dedede;
  text-align: right;
}

.history{
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Clear floats */
.history::after {
  content: "";
  clear: both;
  display: table;
}
.darker::after {
  content: "";
  clear: both;
  display: table;
}



/* Style the right image */


/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
input{
  padding: 12px 20px;
  margin-right: 5px;
  border-radius: 10px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 100px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.footer-container {
	background-color: #6B958E;
	padding-bottom: 4rem;
	box-sizing: border-box;
	border-top-left-radius: 85px;
	border-top-right-radius: 85px;
}

.footer {
	width: 80%;
	height: 41.5vh;
	background-color: #6B958E;
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
}

.footer-heading {
	margin-top: 0.6%;
	display: flex;
	flex-direction: column;
	margin-right: 5rem;
}

.footer-saran-form h2{
	margin-bottom: 40%;
}

.footer-heading h2{
	margin-bottom: 2%;
}

.footer-heading a{
	margin-top: -1%;
	margin-bottom: 3%;
	color: #ffffff;
	text-decoration: none;
	text-align: left;
}

.footer-heading i{
	margin-top: -1%;
}

.footer-heading a:hover {
	color: #2d3d3d;
	transition: 0.3s ease-out;
}

#footer-saran{
	width: 1000px;
	height: 100px;
	border-radius: 4px;
	outline: none;
	border: none;
	margin-bottom: 1%;
	margin-top: -0.5%;
}
.footer-heading .social-links{
	margin-top: 25%;
	margin-bottom: 5%;
	margin-left: -3.5%;
 
}

.footer-heading .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
  padding-top: 12px;
}

.footer-heading .social-links a:hover{
	color: #2d3d3d;
	background-color: #ffffff;
}