@import url("https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
  }

:root{
	--primary: rgb(255, 255, 255, 0.618);
	--secondary: rgba(255, 255, 255, 0.618);
}

body{
  background-image: url(assets/bg1.png);
	background-position: center;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}

.header {
  min-height: 80vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 8%;
  height: 90px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #6b958e;
}

header .logo {
  margin-left: 1%;
  color: black;
  opacity: 60%;
  font-weight: 900;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.fotoProfil{
	height: 60px;
    width: 60px;
	margin-top: 4%;
	margin-left: -2%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}

#profil{
    height: 80px;
    width: 115px;
	position: absolute;
	margin-left: -49%;
	margin-top: -15%;
}

#logo{
	margin-left: 8%;
	margin-top: 2.5px;
}

.footer-container {
	background-color: #6B958E;
	padding-bottom: 4rem;
	box-sizing: border-box;
	border-top-left-radius: 85px;
	border-top-right-radius: 85px;
}

.footer {
	width: 80%;
	height: 41.5vh;
	background-color: #6B958E;
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
}

.footer-heading {
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	margin-right: 5rem;
}

.footer-saran-form h2{
	margin-bottom: 40%;
}

.footer-heading h2{
	margin-bottom: 2%;
}

.footer-heading a{
	margin-top: -1%;
	margin-bottom: 3%;
	color: #ffffff;
	text-decoration: none;
	text-align: left;
}

.footer-heading i{
	margin-top: -1%;
}

.footer-heading a:hover {
	color: #2d3d3d;
	transition: 0.3s ease-out;
}

#footer-saran{
	width: 1000px;
	height: 100px;
	border-radius: 4px;
	outline: none;
	border: none;
	margin-bottom: 1%;
	margin-top: -0.5%;
}
.footer-heading .social-links{
	margin-top: 25%;
	margin-bottom: 5%;
}

.footer-heading .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-heading .social-links a:hover{
	color: #2d3d3d;
	background-color: #ffffff;
}
.toolbar {
  flex: 1;
  text-align: right;
}
.toolbar ul {
  margin-right: -88px;
}
.toolbar ul li {
  list-style: none;
  display: inline-block;
  padding: 1px 5px 1px 1px;
  margin-left: 20px;
  margin-top: 15px;
  position: relative;
}

.toolbar ul li a {
  margin-left: 2px;
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

.toolbar ul li :hover {
  background: rgba(0, 0, 0, 0.61);
  color: white;
  font-weight: 700;
  font-size: 24;
}

.toolbar ul li a.active {
  color: white;
  font-weight: 700;
  font-size: 24;
}

section {
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  scale: 120px;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
}

section img#bg1 {
  width: 1650px;
  height: 1025px;
  z-index: 10;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: -7%;
}

.box-container .box {
  flex: 1 1 8rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 180px;
  margin-left: 60px;
  margin-right: 50px;
}

.box-container .box img {
  width: 100%;
  object-fit: cover;
}

.box-container .box .content a {
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  color: black;
}
